*{
    margin: 0;
    padding: 0;
}

$main_font: "Lato";

@mixin conteiner{
width: 900px;
margin-left: auto;
margin-right: auto;
height: 100%;
}

.header{
    position: relative;
    background-color: #aab5c9;
    width: 100%;
    height: 1072px;
    overflow: hidden;
    &__bg{
        position: absolute;
        margin: auto;
        left: -2000px;
        right: -2000px;
        top: 0;
        bottom: 0;
        height: 1072px;
    }
    &__conteiner{
        position: relative;
        text-align: center;
        @include conteiner;
    }
    &__logo{
        margin-top: 285px;
    }
    &__title{
        margin-top: 77px;
        font-size: 54px;
        font-family: $main_font;
        color: rgb(255, 255, 255);
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 10px;
    }
    &__subtitle{
        font-size: 15px;
        font-family: $main_font;
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        line-height: 1.933;
        letter-spacing: 1px;
        text-align: center;
        position: absolute;      
        width: 600px;
        height: 69px;   
        margin-left: 155px; 
        margin-top: 30px;   
    }
    &__scroll{
        position: absolute;
        left: 590px;
        top: 920px;
        width: 23px;
        height: 37px;
    }
}
.about{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 630px;
    overflow: hidden;
    &__conteiner{
    position: relative;
    text-align: center;
    @include conteiner;
    }
    &__content{
    margin-top: 160px;
    position: relative;
    margin-left: -3px;
    z-index: 1;
    }
   &__text{
    position: absolute;
    width: 46.7%;
    margin-left: 240px;
    background-color: white; 
    margin-top: 140px;
    font-size: 30px;
    font-family: $main_font;
    color: rgb(60, 60, 60);
    font-weight: bold;
    letter-spacing: 8px;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    z-index: 2;
    }
    @media (max-width: 1200px){
        &__content{
            margin-left: 150px;
        }
   }
   &__subtext{
    position: absolute;
    margin-top: 230px;
    margin-left: 190px;
    font-size: 16px;
    
    font-family: $main_font;
    color: rgb(60, 60, 60);
    line-height: 1.5;
    text-align: center;   
   }
}